.active{
    color: #b12b31;
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 2px;
    border-color: #b12b31;
    font-weight: bold;
}

/* Hide scrollbar but keep scroll functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}